<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Información del Pedido</title>
    <style>
      img {
        cursor: pointer;
        max-width: 100%;
        height: auto;
      }
    </style>
  </head>
  <body>
    <h1>Información del Pedido</h1>

    <p><strong>Tipo de Producto:</strong> {{ pedido.tipo }} </p>
    <p><strong>Producto(s):</strong> {{ pedido.productos }}</p>
    {% if pedido.descripcion %}
    <p>
      <strong>Descripción:</strong>{{ pedido.descripcion }}
    </p>
    {% endif %}
    <p><strong>Región:</strong> {{ pedido.region }}</p>
    <p><strong>Comuna:</strong> {{ pedido.comuna }}</p>
    <p><strong>Nombre del comprador:</strong> {{ pedido.nombre_comprador }}</p>
    <p><strong>Email del comprador:</strong> {{ pedido.email_comprador }}</p>
    <p><strong>Número de Celular del comprador:</strong>{{ pedido.celular_comprador }}</p>
    <p><button id="volver" onclick="window.history.back();">Volver</button></p>

  </body>
</html>
