<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tabla de Productos</title>
    <link rel="stylesheet" href="../static/styles/styles.css" />
</head>
<body>
<table id="productos">
    <thead>
    <tr>
        <th>Tipo</th>
        <th>Producto(s)</th>
        <th>Región</th>
        <th>Comuna</th>
        <th>Fotos</th>
    </tr>
    </thead>
    <tbody>
    {% for producto in productos %}
    <tr onclick="window.location.href=`{{ url_for('informacion_producto', producto_id=producto['id']) }}`;" style="cursor: pointer;">

        <td>{{ producto.tipo }}</td>
        <td>{{ producto.productos }}</td>
        <td>{{ producto.region }}</td>
        <td>{{ producto.comuna }}</td>
        <td>
          {% if producto.foto_nombre %}
              <img src="{{ url_for('static', filename='uploads/' + producto.foto_nombre) }}" alt="Foto" width="120" height="120" />
          {% else %}
              No hay foto disponible
          {% endif %}
      </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<div>
    {% if page > 1 %}
        <a href="{{ url_for('ver_productos', page=page-1) }}">Página Anterior</a>
    {% endif %}
    {% if productos|length == per_page %}
        <a href="{{ url_for('ver_productos', page=page+1) }}">Siguiente Página</a>
    {% endif %}
</div>

<button id="volver">Volver</button>

<script>
    document.getElementById("volver").addEventListener("click", function () {
        window.location.href = "/";
    });
</script>
</body>
</html>
