<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ver productos</title>
    <link rel="stylesheet" href="../static/styles/styles.css" />
  </head>
  <body>
    <table id="pedidos">
      <thead>
        <tr>
          <th>Tipo</th>
          <th>Producto(s)</th>
          <th>Región</th>
          <th>Comuna</th>
          <th>Nombre comprador</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Fruta</td>
          <td>Arándano, Durazno, Kaki, Higo</td>
          <td>Metropolitana</td>
          <td>Santiago</td>
          <td>Gustavo Fring</td>
        </tr>
        <tr>
          <td>Verdura</td>
          <td>Cebolla, Puerro, Zanahoria</td>
          <td>Valparaíso</td>
          <td>Viña del Mar</td>
          <td>Jesse Pinkman</td>
        </tr>
        <tr>
          <td>Fruta</td>
          <td>Kiwi, Uva, Avellana</td>
          <td>Biobío</td>
          <td>Concepción</td>
          <td>Skyler White</td>
        </tr>
        <tr>
          <td>Fruta</td>
          <td>Naranja, Manzana, Platano</td>
          <td>Araucanía</td>
          <td>Temuco</td>
          <td>Walter Jr</td>
        </tr>
        <tr>
          <td>Verdura</td>
          <td>Pimiento, Lechuga, Tomate</td>
          <td>Antofagasta</td>
          <td>Antofagasta</td>
          <td>Mike Ehrmantraut</td>
        </tr>
      </tbody>
    </table>
    <button id="volver">Volver</button>

    <script>
      document.getElementById("volver").addEventListener("click", function () {
        window.location.href = "/";
      });
      let filas = document.querySelectorAll("#pedidos tbody tr");
      filas.forEach(function (fila) {
        fila.addEventListener("click", function () {
          window.location.href = "informacion-pedido";
        });
      });
    </script>
  </body>
</html>
