<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ver productos</title>
    <link rel="stylesheet" href="../static/styles/styles.css" />
  </head>
  <body>
    <table id="pedidos">
      <thead>
        <tr>
          <th>Tipo</th>
          <th>Producto(s)</th>
          <th>Región</th>
          <th>Comuna</th>
          <th>Nombre comprador</th>
        </tr>
      </thead>
      <tbody>
        {% for pedido in pedidos %}
        <tr onclick="window.location.href=`{{ url_for('informacion_pedido', pedido_id=pedido['id']) }}`;" style="cursor: pointer;">
          <td>{{ pedido.tipo }}</td>
          <td>{{ pedido.pedidos }}</td>
          <td>{{ pedido.region }}</td>
          <td>{{ pedido.comuna }}</td>
          <td>{{ pedido.nombre_comprador }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <div>
      {% if page > 1 %}
          <a href="{{ url_for('ver_pedidos', page=page-1) }}">Página Anterior</a>
      {% endif %}
      {% if pedidos|length == per_page %}
          <a href="{{ url_for('ver_pedidos', page=page+1) }}">Siguiente Página</a>
      {% endif %}
  </div>
    <button id="volver">Volver</button>

    <script>
      document.getElementById("volver").addEventListener("click", function () {
          window.location.href = "/";
      });
  </script>
  </body>
</html>
